##==============================================================================
## Plain text Snippets
##=============================================================================
'.text.plain':
    'diary':
        'prefix': 'hdr'
        'body': """
        ********************************************************************************
        # ==============================================================================
        # Author : Bhishan Poudel; PhD Student Ohio University
        # Email  : bhishanpdl@gmail.com
        # Date   : $1
        # Summary: $2
        # ==============================================================================
        $0
        """
    'header':
        'prefix': 'h2'
        'body': 'Author: Bhishan Poudel\nDate  : $1\n\n$0'

    'header2':
        'prefix': 'h'
        'body': 'Author: Bhishan Poudel\nDate  : $1\n\nTopic : $2\n====================================\n\n$0'

    'topic':
        'prefix': 't'
        'body': '\n\n# =============================================================================\n# Date   : $1\n# Summary: $2\n# =============================================================================\n\n$0'

    'single comment line':
        'prefix': 'line'
        'body': '# =============================================================================\n$0'

    'single comment line typo':
        'prefix': 'lien'
        'body': '# =============================================================================\n$0'

    'lines':
        'prefix': 'lines'
        'body': '##=======================================================================\n## $1\n\##=======================================================================$0'

    'lines typo':
        'prefix': 'liens'
        'body': '##=======================================================================\n## $1\n\##=======================================================================$0'
    '1 spaces':
        'prefix': '1s'
        'body': '\\\\ '
    '2 spaces':
        'prefix': '2s'
        'body': '\\\\ \\\\ '
    '3 spaces':
        'prefix': '3s'
        'body': '\\\\ \\\\ \\\\ '
    '4 spaces':
        'prefix': '4s'
        'body': '\\\\ \\\\ \\\\ \\\\ '
    '5 spaces':
        'prefix': '5s'
        'body': '\\\\ \\\\ \\\\ \\\\ \\\\ '
    '6 spaces':
        'prefix': '6s'
        'body': '\\\\ \\\\ \\\\ \\\\ \\\\ \\\\ '
    '7 spaces':
        'prefix': '7s'
        'body': '\\\\ \\\\ \\\\ \\\\ \\\\ \\\\ \\\\ '
    '8 spaces':
        'prefix': '8s'
        'body': '\\\\ \\\\ \\\\ \\\\ \\\\ \\\\ \\\\ \\\\ '
    '9 spaces':
        'prefix': '9s'
        'body': '\\\\ \\\\ \\\\ \\\\ \\\\ \\\\ \\\\ \\\\ \\\\ '
    '10 spaces':
        'prefix': '10s'
        'body': '\\\\ \\\\ \\\\ \\\\ \\\\ \\\\ \\\\ \\\\ \\\\ \\\\ '
# Above this is Plain Text.
